<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="9c2347e9-65bc-479e-a33a-1e8523d95226" name="TestSuite 1" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="9c2347e9-65bc-479e-a33a-1e8523d95226fileName">TestSuite-1</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties><con:property><con:name>name</con:name><con:value>Jyoti</con:value></con:property><con:property><con:name>job</con:name><con:value>Architect</con:value></con:property></con:properties><con:reportParameters/></con:testSuite>
